@charset "UTF-8";

.Carousel {
    $root : &;
    &__img {
        width: 100%;
    }
    &__item {
        width: 100%;
        &--blog{
            padding: 0px 40px;
            //width: 50%;
            margin:0px auto;

        }
    }
    &--blog{
        display: flex;
        @include mq-sp {
            padding: 0;
        }
    }
}
