@charset "UTF-8";
//fonts

@mixin menu-font(){
    //cssのプロパティを複数登録しておき、適用したい場所に@includeする
    font-family: $font-sub;
    font-weight: 600;
}
@mixin title-font(){
    font-family: $font-sub;
    font-weight: "400";
}
@mixin section-head-font(){
    font-family: $font-sub;
    font-weight: 600;
}
@mixin menu-mq-sp($max: $menu-sp-max-width){
    @media only screen and (max-width: #{$max}){//スクリーンかつ最大幅が$maxのときのみ中を読み込む
        @content;//mixinのinclude先でcontentの中身を書くことができる
    }
}
@mixin menu-mq-pc($min: $menu-pc-min-width){
    @media only screen and (min-width: #{$min}){
        @content;
    }
}

@mixin mq-sp($max: $sp-max-width){
    @media only screen and (max-width: #{$max}){//スクリーンかつ最大幅が$maxのときのみ中を読み込む
        @content;//mixinのinclude先でcontentの中身を書くことができる
    }
}
@mixin mq-pc($min: $pc-min-width){
    @media only screen and (min-width: #{$min}){
        @content;
    }
}

@mixin _sm($max: $sm-width){
    @media only screen and (max-width: #{$max}){//スクリーンかつ最大幅が$maxのときのみ中を読み込む
        @content;//mixinのinclude先でcontentの中身を書くことができる
    }
}
@mixin sm_md($min: $sm-width, $max:$md-width){
    @media only screen and (min-width: #{$min}) and (max-width: #{$max}){
        @content;
    }
}
