//color Hex値
$color-base: #FFFFFF;
$color-main-text: #000000;
$color-bar: #000000;


$color-link: #878378;
$color-white: #fff;
$color-reverse-line: #fff;
$color-reverse-fill: #252525;
$color-gray: #888888;
//sizes
$base-content-width: 1180px;
$space-unit: 20px;
$sp-space-unit: 15px;
$column-space: $space-unit*2;
$sp-menu-width: 200px;
//インジケーター
$color-black: #252525;
//paths
$image-path: "../images/";//パスを変数化することで。修正が楽に
//font
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
$font-sub: 'Julius Sans One', sans-serif;
//breakpoints
$menu-sp-max-width:938px;
$menu-pc-min-width:938px;
$sp-max-width:938px;
$pc-min-width:938px;
$sm-width:450px;
$md-width:938px;
